# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

/tmp/puma/*
!/tmp/puma/
!/tmp/puma/.keep

# Ignore master key for decrypting credentials and more.
/config/master.key

