<h1>Edit Employees</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @employees.each do |employee| %>
      <tr>
        <td><%= employee.name %></td>
        <td><%= employee.email %></td>
        <td><%= link_to 'Edit', edit_employee_employee_path(employee) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
