<div class="">
  <%= render partial: "employees",
             locals: {
               employees: @employees,
               current_sort: params[:sort],
               direction: params[:direction]
             } %>
</div>
