<!-- app/views/user_mailer/password_change.html.erb -->

<p>Hello</p>

<p>Your password has been successfully changed. If you did not make this change, please contact us immediately.</p>
<p>Best regards,<br>Your Team</p>
