<!-- app/views/devise/passwords/instructions_sent.html.erb -->
<h1>Password Reset Instructions Sent</h1>
<p>Check your email for the reset link.</p>
<p>If you didn't receive the email, <a href="<%= new_user_password_path %>">click here to resend it</a>.</p>
