<h2>Invalid Email</h2>
<p> </p>
<p>The email address you entered could not be found. Please try again or contact support if you continue to experience issues.</p>

<%= link_to 'Back to Reset Password', forgot_password_path %>