<h1>Unable to Update Password</h1>

<% if flash[:error].present? %>
  <p><%= flash[:error] %></p>
<% end %>

<%= link_to 'Back to Reset Password', forgot_password_path %>
<%= link_to 'Go to homepage', root_path %>
