<h1>Edit Employees</h1>

<table>
  <thead>
    <tr>
      <th>id</th>
      <th>Name</th>
    
    </tr>
  </thead>
  <tbody>
    <% @departments.each do |employee| %>
      <tr>
        <td><%= department.id %></td>
        <td><%= department.name %></td>
        <td><%= link_to 'Edit', edit_department_department_path(employee) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
