<div class="container-fluid footer-top">
  <div class="footer-container">
    <div class="row">
      <div class="col contact footer-padding">
        <p class="social-icons d-flex justify-content-around">
          <a href="https://www.facebook.com/uclibraries/" target="_blank" aria-label="Facebook"><i
            class="fab fa-facebook fa-2x" aria-hidden="true"></i></a>

          <a href="http://twitter.com/uclibraries" target="_blank" aria-label="Twitter">
            <i class="fa-brands fa-x-twitter" aria-hidden="true"></i></a>

          <a href="https://www.instagram.com/uc_libraries" target="_blank" aria-label="Instagram"><i
            class="fab fa-instagram fa-2x" aria-hidden="true"></i></a>


          <a href="https://www.youtube.com/user/STRC1" target="_blank" aria-label="Youtube"><i
            class="fab fa-youtube fa-2x" aria-hidden="true"></i></a>
        </p>
        <p>
          University of Cincinnati Libraries
          <br>PO Box 210033
          <br>Cincinnati, Ohio
          <br>45221-0033
          <br> <a href="https://libraries.uc.edu/about/contact.html">Contact Us</a> | <a
          href="https://libapps.libraries.uc.edu/main/contact/staff_directory.php">Staff
          Directory</a>
        </p>

      </div>
      <div class="col footer-padding">
        <p class="footer-title"><strong>UC Tools</strong></p>
        <ul class="list-unstyled">
          <div class="row">
            <div class="col thin-text">
              <li><a href="https://canopy.uc.edu">Canopy &amp; Canvas</a></li>


              <li><a href="https://onestop.uc.edu/">Enrollment Services</a></li>


              <li><a href="https://mail.uc.edu">Email</a></li>


              <li><a href="https://catalyst.uc.edu/">Catalyst</a></li>
            </div>

            <div class="col thin-text">

              <li><a href="http://uc.transloc.com/routes">Shuttle Tracker</a></li>

              <li><a href="https://www.uc.edu/about/ucit/help.html">IT Help</a></li>

              <li><a href="https://vpn.uc.edu">UC VPN</a></li>

              <li><a href="https://mailuc.sharepoint.com/sites/Intranet">Bearcats Landing</a></li>
            </div>
          </div>

        </ul>

      </div>
      <div class="col footer-padding">
        <p class="footer-title"><strong>About Us</strong></p>
        <ul class="list-unstyled thin-text">
          <li><a href="https://www.uc.edu/visitors.html">Maps &amp; Directions</a></li>

          <li><a href="https://www.uc.edu/careers.html">Jobs</a></li>

          <li><a href="https://uc.edu/news">News</a></li>

          <li><a href="https://www.uc.edu/inclusion.html">Diversity</a></li>

          <li><a href="http://www.uc.edu/about/policies.html">Governance &amp; Policies</a></li>

          <li><a href="https://ucdirectory.uc.edu">Directory</a></li>

          <li><a href="https://uc.edu/calendar">Events Calendar</a></li>
        </ul>

      </div>
    </div>
  </div>
</div>
<div class="footer-bottom">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <p><strong>University of Cincinnati</strong> | 2600 Clifton Ave. | Cincinnati, OH 45221 | ph:
          513-556-6000</p>
        <p>
          <a href="https://www.uc.edu/alert.html">Alerts</a> |
          <a href="https://www.uc.edu/about/publicsafety/clery/annual-security-report.html">Clery and HEOA Notice</a> |
          <a href="https://www.uc.edu/about/non-discrimination.html">Notice of Non-Discrimination</a> |
          <a href="https://www.uc.edu/about/ucit/about/accessibility/eaccessibility-form.html">eAccessibility Concern</a> |
          <a href="https://www.uc.edu/about/privacy.html">Privacy Statement</a> |
          <a href="https://www.uc.edu/freespeech.html">Free Speech</a> |
          <a href="https://www.uc.edu/about/ucit/about/copyright.html">Copyright Information</a>
        </p>
        <p>&copy; 2024 University of Cincinnati</p>
      </div>
    </div>
  </div>
</div>
